.hideimg {
  display: none;
}
.button-disp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-opt {
  display: flex;
  width: 40rem;
  height: 3rem;
  font-family: cursive;
  font-size: 1.2rem;
  border: 2px solid #404040;
  border-radius: 10px;
  margin: 0.1rem;
  color: black;
  background-color: #a0ccff;
  flex-direction: row;
}
.sect-opt:hover {
  background-color: #bfdcff;
}
.sect-opt:focus {
  outline: none;
}
.sect-title {
  flex-direction: row;
}
.sect-key {
  margin-left: auto;
  flex-direction: row;
}
.slct-bttn {
  width: 12rem;
  height: 12rem;
  margin: 2rem;
  border: none;
  background-color: #008cde;
  border-radius: 20px;
  color: white;
  font-family: cursive;
  font-size: 1.7rem;
}
.slct-bttn:hover {
  background-color: #26a3ec;
}
.slct-bttn:focus {
  outline: none;
}
.slct-bttn:disabled {
  background-color: #3b83ad;
}
.oopsies {
  font-family: cursive;
  font-size: 1.7rem;
  color: black !important;
}
.btn:hover {
  background-color: #3b83ad;
}
.btn:focus {
  outline: none;
}
.btn {
  display: flex;
  font-family: cursive;
  border: 2px solid #404040;
  border-radius: 10px;
  margin: 0.1rem;
  color: black;
  background-color: #26a3ec;
  flex-direction: row;
  justify-content: center;
}
.back-btn {
  width: 5rem;
  height: 3rem;
  font-size: 1.2rem;
}
.mng-btn {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  flex-direction: column;
  align-items: center;
}
.txt-btn {
  height: 3rem;
  font-size: 1.6rem;
}
.mng-box {
  display: flex;
  width: 40rem;
}
